## Workshop "Data Ingestion with dlt": Homework
Dataset & API
We‚Äôll use NYC Taxi data via the same custom API from the workshop:

üîπ Base API URL:

https://us-central1-dlthub-analytics.cloudfunctions.net/data_engineering_zoomcamp_api <br>
üîπ Data format: Paginated JSON (1,000 records per page). <br>
üîπ API Pagination: Stop when an empty page is returned.

Question 1: dlt Version
Install dlt:

In [ ]:
 !pip install dlt[duckdb]

Collecting dlt[duckdb]
  Downloading dlt-1.6.1-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: PyYAML>=5.4.1 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (6.0)
Requirement already satisfied: click>=7.1 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (8.0.4)
Collecting fsspec>=2022.4.0 (from dlt[duckdb])
  Downloading fsspec-2025.2.0-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: gitpython>=3.1.29 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (3.1.43)
Collecting giturlparse>=0.10.0 (from dlt[duckdb])
  Downloading giturlparse-0.12.0-py2.py3-none-any.whl.metadata (4.5 kB)
Collecting hexbytes>=0.2.2 (from dlt[duckdb])
  Downloading hexbytes-1.3.0-py3-none-any.whl.metadata (3.3 kB)
Collecting humanize>=4.4.0 (from dlt[duckdb])
  Downloading humanize-4.11.0-py3-none-any.whl.metadata (7.8 kB)
Collecting jsonpath-ng>=1.5.3 (from dlt[duckdb])
  Downloading jsonpath_ng-1.7.0-py3-none-any.whl.metadata (18 kB)
Collecting makefun>=1.15.0 (from dlt[duckdb])
  Downloading makefun-1.15.6-py2.py3-none-any.whl.metadata (3.2 kB)
Collecting orjson!=3.10.1,!=3.9.11,!=3.9.12,!=3.9.13,!=3.9.14,<4,>=3.6.7 (from dlt[duckdb])
  Downloading orjson-3.10.15-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (41 kB)
Requirement already satisfied: packaging>=21.1 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (23.2)
Collecting pathvalidate>=2.5.2 (from dlt[duckdb])
  Downloading pathvalidate-3.2.3-py3-none-any.whl.metadata (12 kB)
Collecting pendulum>=2.1.2 (from dlt[duckdb])
  Downloading pendulum-3.0.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.9 kB)
Collecting pluggy>=1.3.0 (from dlt[duckdb])
  Downloading pluggy-1.5.0-py3-none-any.whl.metadata (4.8 kB)
Requirement already satisfied: pytz>=2022.6 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (2022.7)
Requirement already satisfied: requests>=2.26.0 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (2.31.0)
Collecting requirements-parser>=0.5.0 (from dlt[duckdb])
  Downloading requirements_parser-0.11.0-py3-none-any.whl.metadata (4.7 kB)
Collecting rich-argparse<2.0.0,>=1.6.0 (from dlt[duckdb])
  Downloading rich_argparse-1.7.0-py3-none-any.whl.metadata (14 kB)
Collecting semver>=3.0.0 (from dlt[duckdb])
  Downloading semver-3.0.4-py3-none-any.whl.metadata (6.8 kB)
Requirement already satisfied: setuptools>=65.6.0 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (75.1.0)
Collecting simplejson>=3.17.5 (from dlt[duckdb])
  Downloading simplejson-3.19.3-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (3.2 kB)
Requirement already satisfied: tenacity>=8.0.2 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (8.2.2)
Collecting tomlkit>=0.11.3 (from dlt[duckdb])
  Downloading tomlkit-0.13.2-py3-none-any.whl.metadata (2.7 kB)
Requirement already satisfied: typing-extensions>=4.8.0 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (4.10.0)
Requirement already satisfied: tzdata>=2022.1 in /databricks/python3/lib/python3.11/site-packages (from dlt[duckdb]) (2022.1)
Collecting duckdb>=0.9 (from dlt[duckdb])
  Downloading duckdb-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (966 bytes)
Requirement already satisfied: gitdb<5,>=4.0.1 in /databricks/python3/lib/python3.11/site-packages (from gitpython>=3.1.29->dlt[duckdb]) (4.0.11)
Collecting ply (from jsonpath-ng>=1.5.3->dlt[duckdb])
  Downloading ply-3.11-py2.py3-none-any.whl.metadata (844 bytes)
Requirement already satisfied: python-dateutil>=2.6 in /databricks/python3/lib/python3.11/site-packages (from pendulum>=2.1.2->dlt[duckdb]) (2.8.2)
Collecting time-machine>=2.6.0 (from pendulum>=2.1.2->dlt[duckdb])
  Downloading time_machine-2.16.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (21 kB)
Requirement already satisfied: charset-normalizer<4,>=2 in /databricks/python3/lib/python3.11/site-packages (from requests>=2.26.0->dlt[duckdb]) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in /databricks/python3/lib/python3.11/site-packages (from requests>=2.26.0->dlt[duckdb]) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in /databricks/python3/lib/python3.11/site-packages (from requests>=2.26.0->dlt[duckdb]) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in /databricks/python3/lib/python3.11/site-packages (from requests>=2.26.0->dlt[duckdb]) (2023.7.22)
Collecting types-setuptools>=69.1.0 (from requirements-parser>=0.5.0->dlt[duckdb])
  Downloading types_setuptools-75.8.0.20250210-py3-none-any.whl.metadata (2.2 kB)
Collecting rich>=11.0.0 (from rich-argparse<2.0.0,>=1.6.0->dlt[duckdb])
  Downloading rich-13.9.4-py3-none-any.whl.metadata (18 kB)
Requirement already satisfied: smmap<6,>=3.0.1 in /databricks/python3/lib/python3.11/site-packages (from gitdb<5,>=4.0.1->gitpython>=3.1.29->dlt[duckdb]) (5.0.1)
Requirement already satisfied: six>=1.5 in /usr/lib/python3/dist-packages (from python-dateutil>=2.6->pendulum>=2.1.2->dlt[duckdb]) (1.16.0)
Collecting markdown-it-py>=2.2.0 (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb])
  Downloading markdown_it_py-3.0.0-py3-none-any.whl.metadata (6.9 kB)
Requirement already satisfied: pygments<3.0.0,>=2.13.0 in /databricks/python3/lib/python3.11/site-packages (from rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb]) (2.15.1)
Collecting mdurl~=0.1 (from markdown-it-py>=2.2.0->rich>=11.0.0->rich-argparse<2.0.0,>=1.6.0->dlt[duckdb])
  Downloading mdurl-0.1.2-py3-none-any.whl.metadata (1.6 kB)
Downloading duckdb-1.2.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (20.2 MB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0.0/20.2 MB ? eta -:--:--
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚ï∏ 19.9/20.2 MB 109.4 MB/s eta 0:00:01
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 20.2/20.2 MB 88.9 MB/s eta 0:00:00
Downloading fsspec-2025.2.0-py3-none-any.whl (184 kB)
Downloading giturlparse-0.12.0-py2.py3-none-any.whl (15 kB)
Downloading hexbytes-1.3.0-py3-none-any.whl (4.9 kB)
Downloading humanize-4.11.0-py3-none-any.whl (128 kB)
Downloading jsonpath_ng-1.7.0-py3-none-any.whl (30 kB)
Downloading makefun-1.15.6-py2.py3-none-any.whl (22 kB)
Downloading orjson-3.10.15-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (130 kB)
Downloading pathvalidate-3.2.3-py3-none-any.whl (24 kB)
Downloading pendulum-3.0.0-cp311-cp311-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (384 kB)
Downloading pluggy-1.5.0-py3-none-any.whl (20 kB)
Downloading requirements_parser-0.11.0-py3-none-any.whl (14 kB)
Downloading rich_argparse-1.7.0-py3-none-any.whl (25 kB)
Downloading semver-3.0.4-py3-none-any.whl (17 kB)
Downloading simplejson-3.19.3-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (144 kB)
Downloading tomlkit-0.13.2-py3-none-any.whl (37 kB)
Downloading dlt-1.6.1-py3-none-any.whl (884 kB)
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 0.0/884.3 kB ? eta -:--:--
   ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ‚îÅ 884.3/884.3 kB 64.2 MB/s eta 0:00:00
Downloading rich-13.9.4-py3-none-any.whl (242 kB)
Downloading time_machine-2.16.0-cp311-cp311-manylinux_2_5_x86_64.manylinux1_x86_64.manylinux_2_17_x86_64.manylinux2014_x86_64.whl (32 kB)
Downloading types_setuptools-75.8.0.20250210-py3-none-any.whl (71 kB)
Downloading ply-3.11-py2.py3-none-any.whl (49 kB)
Downloading markdown_it_py-3.0.0-py3-none-any.whl (87 kB)
Downloading mdurl-0.1.2-py3-none-any.whl (10.0 kB)
Installing collected packages: ply, makefun, types-setuptools, tomlkit, simplejson, semver, pluggy, pathvalidate, orjson, mdurl, jsonpath-ng, humanize, hexbytes, giturlparse, fsspec, duckdb, time-machine, requirements-parser, markdown-it-py, rich, pendulum, rich-argparse, dlt
Successfully installed dlt-1.6.1 duckdb-1.2.0 fsspec-2025.2.0 giturlparse-0.12.0 hexbytes-1.3.0 humanize-4.11.0 jsonpath-ng-1.7.0 makefun-1.15.6 markdown-it-py-3.0.0 mdurl-0.1.2 orjson-3.10.15 pathvalidate-3.2.3 pendulum-3.0.0 pluggy-1.5.0 ply-3.11 requirements-parser-0.11.0 rich-13.9.4 rich-argparse-1.7.0 semver-3.0.4 simplejson-3.19.3 time-machine-2.16.0 tomlkit-0.13.2 types-setuptools-75.8.0.20250210
Note: you may need to restart the kernel using %restart_python or dbutils.library.restartPython() to use updated packages.

In [ ]:
dbutils.library.restartPython()

In [ ]:
! dlt --version

dlt 1.6.1

Answer1 -- The version is '**1.6.1**' <br>

Question 2: Define & Run the Pipeline (NYC Taxi API)

In [ ]:
import dlt
from dlt.sources.helpers.rest_client import RESTClient
from dlt.sources.helpers.rest_client.paginators import PageNumberPaginator


def paginated_getter():
    client = RESTClient(
        base_url="https://us-central1-dlthub-analytics.cloudfunctions.net",
        # Define pagination strategy - page-based pagination
        paginator=PageNumberPaginator(   # <--- Pages are numbered (1, 2, 3, ...)
            base_page=1,   # <--- Start from page 1
            total_path=None    # <--- No total count of pages provided by API, pagination should stop when a page contains no result items
        )
    )

    for page in client.paginate("data_engineering_zoomcamp_api"):    # <--- API endpoint for retrieving taxi ride data
        yield page   # remember about memory management and yield data


for page_data in paginated_getter():
    print(page_data)
    break

Unexpected internal error when monkey patching dlt module: cannot import name 'overrides' from partially initialized module 'dlt' (most likely due to a circular import) (/local_disk0/.ephemeral_nfs/envs/pythonEnv-fbfb5295-9e85-460d-9b5b-73e278cb4f2b/lib/python3.11/site-packages/dlt/__init__.py)

[{'End_Lat': 40.742963, 'End_Lon': -73.980072, 'Fare_Amt': 45.0, 'Passenger_Count': 1, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.641525, 'Start_Lon': -73.787442, 'Tip_Amt': 9.0, 'Tolls_Amt': 4.15, 'Total_Amt': 58.15, 'Trip_Distance': 17.52, 'Trip_Dropoff_DateTime': '2009-06-14 23:48:00', 'Trip_Pickup_DateTime': '2009-06-14 23:23:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.740187, 'End_Lon': -74.005698, 'Fare_Amt': 6.5, 'Passenger_Count': 1, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.722065, 'Start_Lon': -74.009767, 'Tip_Amt': 1.0, 'Tolls_Amt': 0.0, 'Total_Amt': 8.5, 'Trip_Distance': 1.56, 'Trip_Dropoff_DateTime': '2009-06-18 17:43:00', 'Trip_Pickup_DateTime': '2009-06-18 17:35:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.718043, 'End_Lon': -74.004745, 'Fare_Amt': 12.5, 'Passenger_Count': 5, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.761945, 'Start_Lon': -73.983038, 'Tip_Amt': 2.0, 'Tolls_Amt': 0.0, 'Total_Amt': 15.5, 'Trip_Distance': 3.37, 'Trip_Dropoff_DateTime': '2009-06-10 18:27:00', 'Trip_Pickup_DateTime': '2009-06-10 18:08:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.739637, 'End_Lon': -73.985233, 'Fare_Amt': 4.9, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.749802, 'Start_Lon': -73.992247, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.4, 'Trip_Distance': 1.11, 'Trip_Dropoff_DateTime': '2009-06-14 23:58:00', 'Trip_Pickup_DateTime': '2009-06-14 23:54:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.730032, 'End_Lon': -73.852693, 'Fare_Amt': 25.7, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.776825, 'Start_Lon': -73.949233, 'Tip_Amt': 0.0, 'Tolls_Amt': 4.15, 'Total_Amt': 29.85, 'Trip_Distance': 11.09, 'Trip_Dropoff_DateTime': '2009-06-13 13:23:00', 'Trip_Pickup_DateTime': '2009-06-13 13:01:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.777537, 'End_Lon': -73.97686, 'Fare_Amt': 7.3, 'Passenger_Count': 2, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.790582, 'Start_Lon': -73.953652, 'Tip_Amt': 2.0, 'Tolls_Amt': 0.0, 'Total_Amt': 10.3, 'Trip_Distance': 2.1, 'Trip_Dropoff_DateTime': '2009-06-10 19:52:00', 'Trip_Pickup_DateTime': '2009-06-10 19:43:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.770277, 'End_Lon': -73.962125, 'Fare_Amt': 3.7, 'Passenger_Count': 1, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.767147, 'Start_Lon': -73.966408, 'Tip_Amt': 1.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.2, 'Trip_Distance': 0.4, 'Trip_Dropoff_DateTime': '2009-06-10 20:09:00', 'Trip_Pickup_DateTime': '2009-06-10 20:06:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.774043, 'End_Lon': -73.951465, 'Fare_Amt': 8.1, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.76175, 'Start_Lon': -73.977773, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 8.6, 'Trip_Distance': 2.24, 'Trip_Dropoff_DateTime': '2009-06-14 21:08:00', 'Trip_Pickup_DateTime': '2009-06-14 20:57:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.777985, 'End_Lon': -73.943683, 'Fare_Amt': 6.1, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.766355, 'Start_Lon': -73.959832, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 6.1, 'Trip_Distance': 1.48, 'Trip_Dropoff_DateTime': '2009-06-14 12:56:00', 'Trip_Pickup_DateTime': '2009-06-14 12:49:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.720052, 'End_Lon': -74.009823, 'Fare_Amt': 8.9, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.751327, 'Start_Lon': -73.987588, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 9.9, 'Trip_Distance': 2.72, 'Trip_Dropoff_DateTime': '2009-06-10 18:13:00', 'Trip_Pickup_DateTime': '2009-06-10 18:03:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.758588, 'End_Lon': -73.981827, 'Fare_Amt': 4.1, 'Passenger_Count': 5, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.764112, 'Start_Lon': -73.98861, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 4.1, 'Trip_Distance': 0.69, 'Trip_Dropoff_DateTime': '2009-06-14 11:27:00', 'Trip_Pickup_DateTime': '2009-06-14 11:24:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.727343, 'End_Lon': -73.993425, 'Fare_Amt': 2.5, 'Passenger_Count': 4, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.727343, 'Start_Lon': -73.993425, 'Tip_Amt': 4.0, 'Tolls_Amt': 0.0, 'Total_Amt': 6.5, 'Trip_Distance': 0.0, 'Trip_Dropoff_DateTime': '2009-06-13 19:17:00', 'Trip_Pickup_DateTime': '2009-06-13 19:17:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.763403, 'End_Lon': -73.982693, 'Fare_Amt': 2.9, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.763875, 'Start_Lon': -73.982592, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 3.9, 'Trip_Distance': 0.05, 'Trip_Dropoff_DateTime': '2009-06-10 19:39:00', 'Trip_Pickup_DateTime': '2009-06-10 19:38:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.881595, 'End_Lon': -73.864513, 'Fare_Amt': 33.3, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.759188, 'Start_Lon': -73.992023, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 33.8, 'Trip_Distance': 14.86, 'Trip_Dropoff_DateTime': '2009-06-14 03:00:00', 'Trip_Pickup_DateTime': '2009-06-14 02:34:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.741075, 'End_Lon': -73.986537, 'Fare_Amt': 4.1, 'Passenger_Count': 5, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.752078, 'Start_Lon': -73.9786, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 4.1, 'Trip_Distance': 0.88, 'Trip_Dropoff_DateTime': '2009-06-16 12:59:00', 'Trip_Pickup_DateTime': '2009-06-16 12:56:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.728683, 'End_Lon': -73.981595, 'Fare_Amt': 11.7, 'Passenger_Count': 1, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.75907, 'Start_Lon': -73.984905, 'Tip_Amt': 4.0, 'Tolls_Amt': 0.0, 'Total_Amt': 15.7, 'Trip_Distance': 2.82, 'Trip_Dropoff_DateTime': '2009-06-16 12:58:00', 'Trip_Pickup_DateTime': '2009-06-16 12:39:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.745173, 'End_Lon': -73.998107, 'Fare_Amt': 10.1, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.76032, 'Start_Lon': -73.964637, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 10.6, 'Trip_Distance': 2.83, 'Trip_Dropoff_DateTime': '2009-06-15 20:18:00', 'Trip_Pickup_DateTime': '2009-06-15 20:05:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.779377, 'End_Lon': -73.987643, 'Fare_Amt': 9.7, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.761615, 'Start_Lon': -73.966648, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 9.7, 'Trip_Distance': 2.08, 'Trip_Dropoff_DateTime': '2009-06-16 12:59:00', 'Trip_Pickup_DateTime': '2009-06-16 12:44:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.761275, 'End_Lon': -73.972752, 'Fare_Amt': 7.7, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.752203, 'Start_Lon': -73.97372, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 8.7, 'Trip_Distance': 0.8, 'Trip_Dropoff_DateTime': '2009-06-10 18:10:00', 'Trip_Pickup_DateTime': '2009-06-10 17:57:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.749855, 'End_Lon': -73.993482, 'Fare_Amt': 4.5, 'Passenger_Count': 1, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.754173, 'Start_Lon': -73.993775, 'Tip_Amt': 1.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.5, 'Trip_Distance': 0.58, 'Trip_Dropoff_DateTime': '2009-06-14 17:58:00', 'Trip_Pickup_DateTime': '2009-06-14 17:53:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.741707, 'End_Lon': -74.004725, 'Fare_Amt': 3.7, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.74109, 'Start_Lon': -73.99796, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 3.7, 'Trip_Distance': 0.48, 'Trip_Dropoff_DateTime': '2009-06-14 11:19:00', 'Trip_Pickup_DateTime': '2009-06-14 11:16:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.761607, 'End_Lon': -73.969057, 'Fare_Amt': 6.5, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.754082, 'Start_Lon': -73.96608, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 7.5, 'Trip_Distance': 0.9, 'Trip_Dropoff_DateTime': '2009-06-18 17:11:00', 'Trip_Pickup_DateTime': '2009-06-18 17:02:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.7641, 'End_Lon': -73.98259, 'Fare_Amt': 6.1, 'Passenger_Count': 5, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.742647, 'Start_Lon': -73.993013, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 6.1, 'Trip_Distance': 1.81, 'Trip_Dropoff_DateTime': '2009-06-14 19:09:00', 'Trip_Pickup_DateTime': '2009-06-14 19:04:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.772295, 'End_Lon': -73.96665, 'Fare_Amt': 3.3, 'Passenger_Count': 5, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.769087, 'Start_Lon': -73.965202, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 4.3, 'Trip_Distance': 0.32, 'Trip_Dropoff_DateTime': '2009-06-15 19:19:00', 'Trip_Pickup_DateTime': '2009-06-15 19:17:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.756328, 'End_Lon': -73.964167, 'Fare_Amt': 9.7, 'Passenger_Count': 1, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.750137, 'Start_Lon': -73.99092, 'Tip_Amt': 2.0, 'Tolls_Amt': 0.0, 'Total_Amt': 12.7, 'Trip_Distance': 2.18, 'Trip_Dropoff_DateTime': '2009-06-10 19:28:00', 'Trip_Pickup_DateTime': '2009-06-10 19:13:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.739487, 'End_Lon': -73.999645, 'Fare_Amt': 5.7, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.752395, 'Start_Lon': -74.004405, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 6.2, 'Trip_Distance': 1.35, 'Trip_Dropoff_DateTime': '2009-06-10 20:09:00', 'Trip_Pickup_DateTime': '2009-06-10 20:03:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.714525, 'End_Lon': -73.997617, 'Fare_Amt': 4.9, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.72343, 'Start_Lon': -74.007843, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.4, 'Trip_Distance': 0.95, 'Trip_Dropoff_DateTime': '2009-06-12 01:17:00', 'Trip_Pickup_DateTime': '2009-06-12 01:13:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.747393, 'End_Lon': -74.003257, 'Fare_Amt': 5.7, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.751342, 'Start_Lon': -73.993282, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.7, 'Trip_Distance': 0.78, 'Trip_Dropoff_DateTime': '2009-06-16 12:16:00', 'Trip_Pickup_DateTime': '2009-06-16 12:08:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.736473, 'End_Lon': -73.978778, 'Fare_Amt': 10.5, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.71557, 'Start_Lon': -74.01102, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 11.0, 'Trip_Distance': 3.17, 'Trip_Dropoff_DateTime': '2009-06-11 22:40:00', 'Trip_Pickup_DateTime': '2009-06-11 22:26:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.759115, 'End_Lon': -73.97897, 'Fare_Amt': 5.7, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.756065, 'Start_Lon': -73.9911, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 6.2, 'Trip_Distance': 0.94, 'Trip_Dropoff_DateTime': '2009-06-11 22:51:00', 'Trip_Pickup_DateTime': '2009-06-11 22:44:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.758668, 'End_Lon': -73.990978, 'Fare_Amt': 15.7, 'Passenger_Count': 2, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.758737, 'Start_Lon': -73.919247, 'Tip_Amt': 3.92, 'Tolls_Amt': 0.0, 'Total_Amt': 19.62, 'Trip_Distance': 5.04, 'Trip_Dropoff_DateTime': '2009-06-14 14:48:00', 'Trip_Pickup_DateTime': '2009-06-14 14:27:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.717167, 'End_Lon': -73.99879, 'Fare_Amt': 5.3, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.719118, 'Start_Lon': -74.008793, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.8, 'Trip_Distance': 0.95, 'Trip_Dropoff_DateTime': '2009-06-11 23:10:00', 'Trip_Pickup_DateTime': '2009-06-11 23:04:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.728728, 'End_Lon': -74.007225, 'Fare_Amt': 9.3, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.75745, 'Start_Lon': -73.985397, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 10.3, 'Trip_Distance': 2.35, 'Trip_Dropoff_DateTime': '2009-06-18 16:21:00', 'Trip_Pickup_DateTime': '2009-06-18 16:08:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.752195, 'End_Lon': -73.977895, 'Fare_Amt': 2.5, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.752195, 'Start_Lon': -73.977895, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 3.5, 'Trip_Distance': 0.0, 'Trip_Dropoff_DateTime': '2009-06-10 18:49:00', 'Trip_Pickup_DateTime': '2009-06-10 18:48:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.763517, 'End_Lon': -73.965395, 'Fare_Amt': 4.5, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.75727, 'Start_Lon': -73.97007, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.5, 'Trip_Distance': 0.57, 'Trip_Dropoff_DateTime': '2009-06-18 16:17:00', 'Trip_Pickup_DateTime': '2009-06-18 16:12:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.64393, 'End_Lon': -73.782998, 'Fare_Amt': 45.0, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.758123, 'Start_Lon': -73.989907, 'Tip_Amt': 0.0, 'Tolls_Amt': 5.0, 'Total_Amt': 50.0, 'Trip_Distance': 16.91, 'Trip_Dropoff_DateTime': '2009-06-18 16:24:00', 'Trip_Pickup_DateTime': '2009-06-18 15:15:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.731338, 'End_Lon': -74.005428, 'Fare_Amt': 9.3, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.744898, 'Start_Lon': -73.980695, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 9.3, 'Trip_Distance': 2.11, 'Trip_Dropoff_DateTime': '2009-06-18 15:18:00', 'Trip_Pickup_DateTime': '2009-06-18 15:02:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.716315, 'End_Lon': -74.012675, 'Fare_Amt': 8.9, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.7299, 'Start_Lon': -74.004068, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 9.9, 'Trip_Distance': 1.71, 'Trip_Dropoff_DateTime': '2009-06-10 18:19:00', 'Trip_Pickup_DateTime': '2009-06-10 18:06:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.74886, 'End_Lon': -73.988012, 'Fare_Amt': 6.9, 'Passenger_Count': 1, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.728555, 'Start_Lon': -73.999718, 'Tip_Amt': 2.0, 'Tolls_Amt': 0.0, 'Total_Amt': 9.4, 'Trip_Distance': 1.88, 'Trip_Dropoff_DateTime': '2009-06-12 01:28:00', 'Trip_Pickup_DateTime': '2009-06-12 01:20:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.7801, 'End_Lon': -73.950063, 'Fare_Amt': 4.5, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.78218, 'Start_Lon': -73.957393, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.5, 'Trip_Distance': 0.51, 'Trip_Dropoff_DateTime': '2009-06-10 18:12:00', 'Trip_Pickup_DateTime': '2009-06-10 18:07:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.805542, 'End_Lon': -73.961878, 'Fare_Amt': 12.9, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.757243, 'Start_Lon': -73.969688, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 13.9, 'Trip_Distance': 4.33, 'Trip_Dropoff_DateTime': '2009-06-15 19:23:00', 'Trip_Pickup_DateTime': '2009-06-15 19:06:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 1.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.752172, 'End_Lon': -73.971932, 'Fare_Amt': 4.9, 'Passenger_Count': 5, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.755125, 'Start_Lon': -73.983062, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 5.4, 'Trip_Distance': 0.9, 'Trip_Dropoff_DateTime': '2009-06-12 01:51:00', 'Trip_Pickup_DateTime': '2009-06-12 01:46:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.687622, 'End_Lon': -73.95763, 'Fare_Amt': 10.5, 'Passenger_Count': 1, 'Payment_Type': 'Credit', 'Rate_Code': None, 'Start_Lat': 40.693903, 'Start_Lon': -73.992148, 'Tip_Amt': 2.0, 'Tolls_Amt': 0.0, 'Total_Amt': 13.0, 'Trip_Distance': 3.05, 'Trip_Dropoff_DateTime': '2009-06-12 00:56:00', 'Trip_Pickup_DateTime': '2009-06-12 00:42:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.766405, 'End_Lon': -73.9886, 'Fare_Amt': 7.7, 'Passenger_Count': 5, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.750982, 'Start_Lon': -73.991153, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 7.7, 'Trip_Distance': 0.03, 'Trip_Dropoff_DateTime': '2009-06-16 11:37:00', 'Trip_Pickup_DateTime': '2009-06-16 11:23:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.76286, 'End_Lon': -73.984875, 'Fare_Amt': 11.7, 'Passenger_Count': 2, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.71895, 'Start_Lon': -74.008722, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 12.2, 'Trip_Distance': 3.37, 'Trip_Dropoff_DateTime': '2009-06-14 01:09:00', 'Trip_Pickup_DateTime': '2009-06-14 00:53:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.5, 'vendor_name': 'VTS'}, {'End_Lat': 40.782977, 'End_Lon': -73.97378, 'Fare_Amt': 10.5, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rate_Code': None, 'Start_Lat': 40.751155, 'Start_Lon': -73.9943, 'Tip_Amt': 0.0, 'Tolls_Amt': 0.0, 'Total_Amt': 10.5, 'Trip_Distance': 2.6, 'Trip_Dropoff_DateTime': '2009-06-14 15:29:00', 'Trip_Pickup_DateTime': '2009-06-14 15:14:00', 'mta_tax': None, 'store_and_forward': None, 'surcharge': 0.0, 'vendor_name': 'VTS'}, {'End_Lat': 40.768777, 'End_Lon': -73.967463, 'Fare_Amt': 5.7, 'Passenger_Count': 1, 'Payment_Type': 'CASH', 'Rat

In [ ]:
item = page_data[0]
item

{'End_Lat': 40.742963,
 'End_Lon': -73.980072,
 'Fare_Amt': 45.0,
 'Passenger_Count': 1,
 'Payment_Type': 'Credit',
 'Rate_Code': None,
 'Start_Lat': 40.641525,
 'Start_Lon': -73.787442,
 'Tip_Amt': 9.0,
 'Tolls_Amt': 4.15,
 'Total_Amt': 58.15,
 'Trip_Distance': 17.52,
 'Trip_Dropoff_DateTime': '2009-06-14 23:48:00',
 'Trip_Pickup_DateTime': '2009-06-14 23:23:00',
 'mta_tax': None,
 'store_and_forward': None,
 'surcharge': 0.0,
 'vendor_name': 'VTS'}

In [ ]:
page_data[104]

{'End_Lat': 40.752725,
 'End_Lon': -73.986827,
 'Fare_Amt': 6.9,
 'Passenger_Count': 1,
 'Payment_Type': 'Credit',
 'Rate_Code': None,
 'Start_Lat': 40.750013,
 'Start_Lon': -73.9916,
 'Tip_Amt': 2.0,
 'Tolls_Amt': 0.0,
 'Total_Amt': 8.9,
 'Trip_Distance': 0.69,
 'Trip_Dropoff_DateTime': '2009-06-15 12:53:00',
 'Trip_Pickup_DateTime': '2009-06-15 12:43:00',
 'mta_tax': None,
 'store_and_forward': None,
 'surcharge': 0.0,
 'vendor_name': 'VTS'}

In [ ]:
%%capture
!pip install dlt

In [ ]:
import dlt
from dlt.sources.helpers.rest_client import RESTClient
from dlt.sources.helpers.rest_client.paginators import PageNumberPaginator


# Define the API resource for NYC taxi data
@dlt.resource(name="rides")   # <--- The name of the resource (will be used as the table name)
def ny_taxi():
    client = RESTClient(
        base_url="https://us-central1-dlthub-analytics.cloudfunctions.net",
        paginator=PageNumberPaginator(
            base_page=1,
            total_path=None
        )
    )

    for page in client.paginate("data_engineering_zoomcamp_api"):    # <--- API endpoint for retrieving taxi ride data
        yield page   # <--- yield data to manage memory


# define new dlt pipeline
pipeline = dlt.pipeline(destination="duckdb")


# run the pipeline with the new resource
load_info = pipeline.run(ny_taxi, write_disposition="replace")
print(load_info)


# explore loaded data
pipeline.dataset(dataset_type="default").rides.df()

Pipeline dlt_db_ipykernel_launcher load step completed in 3.76 seconds
1 load package(s) were loaded to destination duckdb and into dataset dlt_db_ipykernel_launcher_dataset
The duckdb destination used duckdb:////Workspace/Users/revathy@calfrac.com/dlt_db_ipykernel_launcher.duckdb location to store data
Load package 1739309395.5686655 is LOADED and contains no failed jobs

        end_lat    end_lon  ...         _dlt_id  store_and_forward
0     40.742963 -73.980072  ...  yAmyKcJm/zm6Rg                NaN
1     40.740187 -74.005698  ...  cqoNX1QSepVWBQ                NaN
2     40.718043 -74.004745  ...  po80taABH4vZ2g                NaN
3     40.739637 -73.985233  ...  QlFlm/zMFPuINg                NaN
4     40.730032 -73.852693  ...  h/v7Nja59JfsbA                NaN
...         ...        ...  ...             ...                ...
9995  40.783522 -73.970690  ...  0FAAwkiSOcGzKg                NaN
9996  40.777200 -73.964197  ...  wVnOApUBcjr07w                NaN
9997  40.780172 -73.957617  ...  12Rmx/hj2I1gYg                NaN
9998  40.777342 -73.957242  ...  IM1oZtIZTlvvzg                NaN
9999  40.757122 -73.986293  ...  5QPzuoHuZeFJvw                NaN

[10000 rows x 18 columns]

In [ ]:
import duckdb
#from google.colab import data_table
#data_table.enable_dataframe_formatter()

# A database '<pipeline_name>.duckdb' was created in working directory so just connect to it

# Connect to the DuckDB database
conn = duckdb.connect(f"{pipeline.pipeline_name}.duckdb")

# Set search path to the dataset
conn.sql(f"SET search_path = '{pipeline.dataset_name}'")

# Describe the dataset
conn.sql("DESCRIBE").df()

                    database  ... temporary
0  dlt_db_ipykernel_launcher  ...     False
1  dlt_db_ipykernel_launcher  ...     False
2  dlt_db_ipykernel_launcher  ...     False
3  dlt_db_ipykernel_launcher  ...     False

[4 rows x 6 columns]

In [ ]:
conn.sql("DESCRIBE rides").df()

               column_name               column_type null   key default extra
0                  end_lat                    DOUBLE  YES  None    None  None
1                  end_lon                    DOUBLE  YES  None    None  None
2                 fare_amt                    DOUBLE  YES  None    None  None
3          passenger_count                    BIGINT  YES  None    None  None
4             payment_type                   VARCHAR  YES  None    None  None
5                start_lat                    DOUBLE  YES  None    None  None
6                start_lon                    DOUBLE  YES  None    None  None
7                  tip_amt                    DOUBLE  YES  None    None  None
8                tolls_amt                    DOUBLE  YES  None    None  None
9                total_amt                    DOUBLE  YES  None    None  None
10           trip_distance                    DOUBLE  YES  None    None  None
11  trip_dropoff_date_time  TIMESTAMP WITH TIME ZONE  YES  None    None  None
12   trip_pickup_date_time  TIMESTAMP WITH TIME ZONE  YES  None    None  None
13               surcharge                    DOUBLE  YES  None    None  None
14             vendor_name                   VARCHAR  YES  None    None  None
15            _dlt_load_id                   VARCHAR   NO  None    None  None
16                 _dlt_id                   VARCHAR   NO  None    None  None
17       store_and_forward                    DOUBLE  YES  None    None  None

In [ ]:
conn.sql("SHOW ALL TABLES").df()

                    database  ... temporary
0  dlt_db_ipykernel_launcher  ...     False
1  dlt_db_ipykernel_launcher  ...     False
2  dlt_db_ipykernel_launcher  ...     False
3  dlt_db_ipykernel_launcher  ...     False

[4 rows x 6 columns]

How many tables were created? <br>
Answer2 -- It looks like **4** tables were created <br>

Question 3: Explore the loaded data

In [ ]:
df = pipeline.dataset(dataset_type="default").rides.df()

In [ ]:
df.shape

(10000, 18)

What is the total number of records extracted? <br>

Answer3 :**10000**

Question 4: Trip Duration Analysis
Run the SQL query below to:

Calculate the average trip duration in minutes.

In [ ]:
with pipeline.sql_client() as client:
    res = client.execute_sql(
            """
            SELECT
            AVG(date_diff('minute', trip_pickup_date_time, trip_dropoff_date_time))
            FROM rides;
            """
        )
    # Prints column values of the first row
    print(res)

[(12.3049,)]

What is the average trip duration? <br>

Answer 4 = **12.309**